<table class="table table-hover">
    <thead>
        <tr>
            <td>Product Name</td>
            <td>Product Description</td>
            <td>Product SKU</td>
            <td colspan="2">Actions</td>
        </tr>
    </thead>
<tbody >
    <tr *ngFor='let p of lstProducts'>
        <td>{{p.product_Name}}</td>
        <td>{{p.product_Description}}</td>
        <td>{{p.product_SKU}}</td>
        <td><a [routerLink]="['edit', p._id]" class="btn btn-primary">Edit</a></td>
        <td><a (click)="deleteProductGet(p._id)" class="btn btn-danger">Delete</a></td>
    </tr>
</tbody>
    </table>
